body, html{
   -webkit-app-region: no-drag;
   margin: 0;
   height: 70px;
   width: 100vw;
   background-color: black;
   overflow: hidden;
   box-sizing: border-box;
}

*:not(input){
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.tab{
  height: 100%;
  background-color: transparent;
  color: white;
  margin-left: 5px;
  float: left;
  width: 188px;
  overflow: hidden;
  -webkit-app-region: no-drag;
  line-height: 100%;
  padding-left: 6px;
  padding-top: 6px;
  font-family: 'Helvetica';
  font-size: 11px;
}

#url-bar{
  height: 35px;
  background-color: #555;
  color: silver;
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-app-region: no-drag;
}

#new-tab-btn{
  float: left;
  height: 30px;
  width: 30px;
  transform: scale(0.9) translateY(-4px) translateX(-2px);
  color: white;
  background-color: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-app-region: no-drag;
  font-size: 22px;
  margin-left: 12px;
  opacity: 0.7;
  border-radius: 100%;
}

#new-tab-btn:hover{
  opacity: 1;
  background-color: #222;
}

.close-tab-btn{
  float: right;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  opacity: 0.7;
  font-size: 18px;
  margin-top: -5px;
  margin-right: 3px;
  transform: scale(0.55) translateY(-4px);
  border-radius: 100%;
  height: 30px;
  width: 30px;
}

.close-tab-btn:hover{
  opacity: 1;
  background-color: #666;
}

.close-tab-btn:active{
  opacity: 1;
  background-color: red;
}

#url-bar > button{
  -webkit-app-region: no-drag;
  height: 22px;
  padding: 0;
  margin: 0;
  margin-top: 7px;
  color: silver;
  width: 22px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  opacity: 0.7;
  font-size: 18px;
  border-radius: 100%;
  margin-left: 8px;
  transform: scale(1.18);
}

#url-bar > button:hover{
  opacity: 1;
  background-color: #666;
}

#tabs-container{
  height: 27px;
  position: fixed;
  top: 8px;
  left: 0;
  right: 133px;
  -webkit-app-region: drag;
}

#window-controls{
  position: fixed;
  right: 0;
  top: 0;
  -webkit-app-region: no-drag;
}

#window-controls > button{
  -webkit-app-region: no-drag;
  outline: none;
  border: none;
  background-color: black;
  color: silver;
  margin: 0;
  padding: 0;
  width: 35px;
  z-index: 99;
  height: 35px;
  opacity: 0.8;
}

#window-controls > button:hover {
  opacity: 1;
  background-color: #222;
}

#close-app-btn:hover{
  background-color: red!important;
  opacity: 1;
}

.active-tab{
  background-color: #555!important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#address-bar{
  color: white;
  border-radius: 20px;
  background-color: #222;
  padding: 4px 8px;
  position: absolute;
  left: 112px;
  right: 100px;
  box-sizing: border-box;
  display: block;
  top: 4px;
  bottom: 4px;
  border: none;
  outline: none;
  width: 70vw;
  text-align: left;
}
