body, html{
   -webkit-app-region: drag;
   margin: 0;
   height: 100px;
   width: 100vw;
   background-color: silver;
   color: black;
   overflow: hidden;
}

#window-controls{
  position: absolute;
  right: 0;
  top: 0;
  -webkit-app-region: no-drag;
}


#window-controls > button{
  -webkit-app-region: no-drag;
}
