body, html{
   -webkit-app-region: no-drag;
   margin: 0;
   height: 70px;
   width: 100vw;
   background-color: black;
   overflow: hidden;
   box-sizing: border-box;
}

*:not(input){
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.tab{
  height: 100%;
  background-color: transparent;
  color: white;
  margin-left: 6px;
  margin-right: 6px;
  float: left;
  width: 188px;
  -webkit-app-region: no-drag;
  line-height: 100%;
  padding-left: 11px;
  padding-top: 9px;
  font-family: 'Helvetica';
  font-size: 11px;
  z-index: 98;
  position: relative;
}

.active-tab{
  background-color: #505050!important;
  transform-origin: bottom;
  z-index: 99;
  position: relative;
}

#url-bar{
  height: 35px;
  background-color: #505050;
  color: silver;
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-app-region: no-drag;
}

.active-tab > .tab-title{
  color: white!important;
}

.tab-favicon{
  position: absolute;
  left: 5px;
  top: 7px;
  height: 20px;
  width: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  background-image: url('../img/loader.gif');
}

.tab-title{
  white-space: nowrap;
  display: block;
  line-height: 34px;
  overflow: hidden;
  position: absolute;
  left: 30px;
  right: 28px;
  top: 0;
  bottom: 0;
  font-size: 11px;
  color: silver;
}

#new-tab-btn{
  float: left;
  height: 30px;
  width: 30px;
  transform: scale(0.9) translateY(2px) translateX(-3px);
  color: white;
  background-color: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-app-region: no-drag;
  font-size: 22px;
  margin-left: 12px;
  opacity: 0.7;
  border-radius: 100%;
}

#new-tab-btn:hover{
  opacity: 1;
  background-color: #222;
}

.close-tab-btn{
  position: absolute;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  opacity: 0.7;
  font-size: 18px;
  top: 5px;
  right: 0px;
  transform: scale(0.55) translateY(-5px) translateX(5px);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 14px;
  background-image: url('../img/close.png');
}

.close-tab-btn:hover{
  opacity: 1;
  background-color: #666;
}

.close-tab-btn:active{
  opacity: 1;
  background-color: red;
}

#url-bar > button{
  -webkit-app-region: no-drag;
  height: 22px;
  padding: 0;
  margin: 0;
  margin-top: 7px;
  color: silver;
  width: 22px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  opacity: 0.7;
  font-size: 18px;
  border-radius: 100%;
  margin-left: 8px;
  transform: scale(1.18);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
}

#url-bar > button:hover{
  opacity: 1;
  background-color: #666;
}

#url-bar > button:disabled,
#url-bar > button[disabled]{
  opacity: 0.2;
  background-color: transparent!important;
}

#tabs-container{
  height: 36px;
  position: fixed;
  top: 1px;
  left: 0;
  right: 130px;
  -webkit-app-region: drag;
  box-sizing: border-box;
  padding-left: 5px;
}

#window-controls{
  position: fixed;
  right: 0;
  top: 0;
  -webkit-app-region: no-drag;
}

#window-controls > button{
  -webkit-app-region: no-drag;
  outline: none;
  border: none;
  background-color: black;
  color: silver;
  margin: 0;
  padding: 0;
  width: 35px;
  z-index: 99;
  height: 35px;
  opacity: 0.8;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 12px;
}

#window-controls > button:hover {
  opacity: 1;
  background-color: #222;
}

#close-app-btn:hover{
  background-color: red!important;
  opacity: 1;
}

.active-tab::before{
  content: url('../img/before.png');
  position: absolute;
  top: 0;
  left: -13px;
}

.active-tab::after{
  content: url('../img/after.png');
  position: absolute;
  top: 0;
  right: -13px;
}

#address-bar{
  color: white;
  border-radius: 20px;
  background-color: #222;
  padding: 4px 8px;
  position: absolute;
  left: 112px;
  right: 100px;
  box-sizing: border-box;
  display: block;
  top: 4px;
  bottom: 4px;
  border: none;
  outline: none;
  width: 70vw;
  text-align: left;
}
